*.o
*.lo
*.ho
*.so
*.a
*.xz
infocmp/infocmp
tabs/tabs
nbperf/nbperf
tic/tic
tic/host_tic
tic/hash.c
tput/tput
tset/tset
config.mak
terminfo/terminfo.cdb
libterminfo/compiled_terms.c
libterminfo/termcap_hash.c
libterminfo/hash.c
